.cookie-consent-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente el contenido */
}

.cookie-consent-banner {
  background-color: #f7e2d9;
  padding: 2.5rem;
  border-radius: 15px;
  text-align: center;
  width: 80vw; /* Ocupa el 80% del ancho de la pantalla */
  max-width: 700px; /* Un ancho máximo para pantallas grandes */
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.cookie-consent-banner h2 {
  color: #cc4a5c;
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.cookie-consent-banner p {
  color: #db7783;
  font-size: 1rem;
  margin-bottom: 2rem;
  line-height: 1.6;
}

.cookie-consent-banner a {
  color: #c45463;
  text-decoration: underline;
}

.cookie-consent-actions {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.cookie-consent-actions button {
  border: none;
  padding: 0.8rem 2rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.cookie-consent-actions button:hover {
    transform: translateY(-2px);
}

.btn-accept {
  background-color: #d16170;
  color: white;
}
.btn-accept:hover {
  background-color: #c45463;
}

.btn-reject {
  background-color: #f5bfb2;
  color: #c45463;
}

.btn-reject:hover {
  background-color: #f5bfb2;
}
